
*  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif; 
    font-size: 16px;
    line-height: 1,5;
    color: #fff;
    background: #0e0e0e;
}


ul {
    list-style-type: none;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
} 

.navbar {
    background: #1f2937;
    color: #fff;
    height: 60px;
    max-width: 1600px;
    margin: auto;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    height: 100%;   
    align-items: center;    
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;   
}

.logo {
    font-size: 28px;
    font-weight: 700;
    color: #F9FAF8;    
}

.navbar ul {
    display: flex;
    justify-content: flex-end;
    gap: 40px;   
}




.header{
    background: #1f2937;
    color: #fff;
    max-width: 1600px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header .container {
    display: flex;    
}

.header .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;    
}

.header .textheader {
    font-size: 34px;
    font-weight: 1000;
    line-height: 1.2;
}


.header img {
    width: 450px;
    height: 325px; 
    margin-left: auto;
    align-self: center;
    margin-left: 20px;
}

.header button {
    width: 160px;
    height: 40px;
    color: #fff;
    background: #3882F6;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: large;
    padding: 5px 25px 5px 25px;
}



.section {
    background: #fff;
    color: #1f2937;
    max-width: 1600px;
    margin: auto;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
        
}

.section .container {
    display: flex;    
    margin: 0px auto; 
    height: 400px;  
} 

.section .box {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.box img {
    width: 80%;
    height: auto; 
    border-radius: 3px;    
    display: flex;
    justify-content: center;  
}  

.box .text {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 700;
}

.section h1 {
    font-size: 30px;
    text-align: center;
    font-weight: 1000;
}

.box h4 {
    margin-top: 0px;
    font-size: large;
}

.article {
    background: #E5E7EB;
    color: #1f2937;
    max-width: 1600px;
    margin: auto;
}

.article .container {
    display: flex;
    max-width: 1100px;
    height: 400px; 
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;   
}


.article .phrase {
    font-size: 40px;
    font-style: italic;
}

.aside {
    background: #fff;
    color: #1f2937;
    width: 1600px;
    margin: auto;
    height: 400px; 
}

.aside .container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.aside .box {
    display: flex; 
    width: 1000px;
    height: 170px;
    color: #fff;
    background: #3882F6;
}

.footer {
    background: #1f2937;
    color: #fff;
    height: 110px;
    max-width: 1600px;
    margin: auto;
}

.footer .container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 110px;
}

.footer .text {
    font-size: 18px;
}