
*  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1,5;
    color: #fff;
    background: #0e0e0e;
}





ul {
    list-style-type: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background: #1f2937;
    color: #fff;
    height: 60px;
    max-width: 1400px;
    margin: auto;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-width: 1100px;
    align-items: center;
    
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
   
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #F9FAF8;
    
}

.navbar ul {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    
}

.header{
    background: #1f2937;
    color: #fff;
    max-width: 1400px;
    margin: auto;
}

.header .container {
    display: flex;
    max-width: 1100px;
    height: 500px;
    
}

.header .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    gap: 10px;
    
}

.header h1 {
    font-size: 38px;
    font-weight: bolder;
    line-height: 1.2;
    /* min-height: 400px; */
}

img {
    width: 450px;
    height: 325px; 
    margin-left: auto;
    align-self: center;
}

button {
    width: 130px;
    height: 30px;
    color: #fff;
    background: #3882F6;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: large;
    padding: 5px 25px 5px 25px;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    color: #1f2937;
    max-width: 1400px;
    margin: auto;    
    height: 500px; 
}

.section .container {
    display: flex;
    max-width: 1100px;   

    
    
} 

.section .box {
    width: 200px;
    height: 300px;   
    display: flex;
    flex-direction: column;    
    align-content: center;
    justify-content: center; 
}



.section .box img {
    max-width: 100%;
    height: auto;
    border-radius: 3px;    
    margin: auto 0px;

}


.section h1 {
    font-size: 36px;
    
       
}
.box h4 {
    margin-top: 20px;
    font-size: large;
}













.article {
    background: #E5E7EB;
    color: #1f2937;
    max-width: 1400px;
    margin: auto;
}

.article .container {
    display: flex;
    max-width: 1100px;
    height: 500px;
    
}